:root {
  --body-background-color: #262626 !important;
  --body-text-color: #e7e7e7 !important;
  --card-background-color: #000000 !important;
  --nav-background-color: #1e1e1e !important;
  --nav-border-bottom-color: #7071e8 !important;
  --nav-current-border-bottom-color: #ed9ed6 !important;
  --card-border-color: #704b65 !important;
  --down-border-left-color: #d15757 !important;
  --down-background-color: #6b1020 !important;
  --degraded-border-left-color: #e6b186 !important;
  --up-border-left-color: #8cd0f8 !important;
  --tag-color: #07001a !important;
  --tag-up-background-color: #b6e4ff !important;
  --tag-down-background-color: #ff778f !important;
  --tag-degraded-background-color: #ffd888 !important;
  --change-background-color: #f7b731 !important;
  --error-button-border-color: #1a46ad !important;
  --error-button-background-color: #3867d6 !important;
  --error-button-color: #ffffff !important;
  --submit-button-border-color: #1a46ad !important;
  --submit-button-background-color: #3867d6 !important;
  --submit-button-color: #ffffff !important;
  --graph-opacity: 1 !important;
  --graph-filter: none !important;
}
